<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <p>
      You have successfully to  http://onlinesticker.herokuapp.com,
      your username is:<%= @user.name %>.<br>
      your useremail is: <%= @user.email %>.<br>
      your userphone is: <%= @user.phone %>.<br>
          your usermessage is: <%= @user.message%>.<br>
    </p>
    <p>
    
      To login to the site, just follow this link: 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>