<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<div class="row">

<% @stickers.each do |sticker| %>
<% cache ['entry', sticker] do %>
<div class="entry">

<div class="col-sm-6 col-md-3">
<div class="tumbnail">

<% sticker.images.each do |image| %>
<td><%= image_tag image.image ,:height => 140, :width =>140%></td><br>
<%= sticker.name %><br>
<% end %>


<div class="price_line">
<span class="price"><%= number_to_currency(sticker.price) %></span>
<%= button_to 'Add to Cart', lineitems_path(sticker_id: sticker) %>
</div>
</div>
</div>
</div><br>
<% end %>
<% end %>