<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<div class="row">
<% @stickers.each do |sticker| %>
<% cache ['entry', sticker] do %>
<div class="entry">
<div class="col-sm-1 col-md-4">
<div class="tumbnail">

<% sticker.images.each do |i| %>
<td><%= link_to  image_tag(i.image , :height => 140, :width =>140), store_path(i.id) %></td><br>
<%= sticker.name %><br>
</div>
</div>
<% end %>




<div class="price_line">
<span class="price"><%= number_to_currency(sticker.price) %></span>
<%= button_to 'Add to Cart', lineitems_path(sticker_id: sticker) %>
<%= button_to 'Delete Cart', stores , method: :delete, data: { confirm: 'Are you sure?' }  %>


</div>
</div><br>
<% end %>
<% end %>