
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
 <div class="col-md-4">

<%= image_tag(@stickers.images.first.image.url(:thumb)) %></div>
<div class="col-md-4">
<div class="table-responsive">
          <table class="table">
           <tbody>
           <tr>
          
            <td><strong>Name:</strong>
             <td><%= @stickers.name %></td>
             </td>
             <tr>
            <td><strong>Description:</strong></td>
            <td><%= @stickers.description %></td>
            </tr>
        <td><strong>Price:</strong></td>
          <td><%= @stickers.price %></td>
       </tr>
       <tr>
       <td><strong>Quantity:</strong></td>
       <td><%= @stickers.quantity %></td>
       </tr>
         <td> <%= button_to "<Continue Shoping" ,stores_path, :method => "get",class: "btn btn-success" %> </td>
         <td><%= link_to 'Buy Now>',new_order_path,class: "btn btn-warning btn-lg" %> </td>
       
        
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
 <div class="col-md-6 col-md-offset-1" >

  <div class="col-md-6 col-md-offset-1" >

 </div>