<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
 <div class="col-md-4">

<%=link_to image_tag(@sticker.images.first.image.url, :height => 350, :width =>350) %><br><br>
<%= image_tag(@sticker.images.first.image.url, :height => 40, :width =>50) %></div>
<div class="colum">
 <div class="col-md-4"><br>
</div></div>
<div class="col-md-4">
<div class="table-responsive">
          <table class="table">
           <tbody>
           <tr>
          
            <td><strong>Name</strong>
             <td><%= @sticker.name %></td>
             </td>
             <tr>
            <td><strong>Description</strong></td>
            <td><%= @sticker.description %></td>
            </tr>
        <td><strong>Price</strong></td>
          <td><%= @sticker.price %></td>
       </tr>
       <tr>
     <%= form_for @sticker, html: { multipart: true } do |f| %>
      <td><strong>Quantity => </strong></td>
      <td><div class="field">
<%= f.select :quantity, Sticker::Quantity, prompt: '1' %>
</div> 
<% end %></td>
</tr> 
<td><%= button_to 'Add to Cart', lineitems_path(:sticker_id => @sticker.id),class: "btn btn-success"  %></td>
<td><%= link_to 'Buy Now>',new_order_path,class: "btn btn-warning"  %> </td>
  

    
   
        
</td>  
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
 <div class="col-md-6 col-md-offset-1" >

  <div class="col-md-6 col-md-offset-1" >

 </div>
