<%= nested_form_for @banner, html: { multipart: true } do |f| %>

  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='field'>
  <% if !@banner.new_record? %>
<br><% @banner.images.each do |i| %>
<%= image_tag(i.image.url, :height => 50, :width =>80 ) %>
<% end %>
<% end %>
<%= f.fields_for :images do |image| %>
  <%= image.file_field :image %>
  <%= image.link_to_remove "Remove image" %>
<% end %>
<p><%= f.link_to_add "Add image", :images %></p>
  </div>

  <%= f.label :name %><br/>
   <div class="form-group">
          <%= f.text_field :name, placeholder: "Name", class: "form-control input-lg", label: false, :required =>true %>
        </div>

        <%= f.submit "Create Banner",class: "btn btn-success"%>
    <% end %>