<%= nested_form_for @sticker, html: { multipart: true } do |f| %>
<%= f.hidden_field :status ,:value => params[:status] %>

  <% if @sticker.errors.any? %>

    <div id="error_explanation">

      <h2><%= pluralize(@sticker.errors.count, "error") %> prohibited this sticker from being saved:</h2>

      <ul>
      <% @sticker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
  <% end %>

    <%#= f.label :category_id %>
    <%#= f.collection_select :category_id, Category.all, :id, :name %>
    <div class="form-group">
    <%= f.select(:category_id, Category.all.map {|c| [c.name, c.id]}, :prompt =>"Choose a Category")%>
  </div>
<% if !@sticker.new_record? %>
<br><% @sticker.images.each do |i| %>
<%= image_tag(i.image.url, :height => 50, :width =>80 ) %>
<% end %>
<% end %>
  <div class='field'>
<%= f.fields_for :images do |image| %>
  <td><%= image.file_field :image %></td>
  <p><%= image.link_to_remove "Remove image" %></p>
<% end %>
<p><%= f.link_to_add "Add a image", :images %></p>
</div>

 <%= f.label :name %><br/>
    <div class="form-group">
        <%= f.text_field :name, placeholder: "Name", class: "form-control input-lg", label: false, :uniqueness_of => true, :required =>true %>
    </div>
 
   <%= f.label :price %><br/>
    <div class="form-group">
        <%=  f.number_field :price, placeholder: "Price", class: "form-control input-lg", label: false %>
    </div>
<%= f.label :quantity %><br/>
    <div class="form-group">
        <%=  f.number_field :quantity, placeholder: "Quantity", class: "form-control input-lg", label: false %>
    </div>

  <%= f.label :description %><br/>
    <div class="form-group">
      <%= f.text_area :description, placeholder: "Description", class: "form-control input-lg", label: false, :required =>true %>
    </div>

  <%= f.submit "Create Sticker",class: "btn btn-success"%>
    <% end %>