<h1>Editing Sticker</h1>
 <%= form_for @sticker, html: { multipart: true } do |f| %>
<div class="form-group">
    <%= f.select(:category_id, Category.all.map {|c| [c.name, c.id]}, :prompt =>"Choose a Category")%>
  </div>
  <% end %>
<%= render 'edit_for' %>
<p>

<%= link_to 'Show', @sticker %> 
<%= link_to 'Back', stickers_path %>
