<p>
<% @sticker.images.each do |i| %>
<%= image_tag i.image %>
<% end %>
<br>
  <strong>Name:</strong>
  <%= @sticker.name %>
<br>
  <strong>Price:$</strong>
  <%= @sticker.price %>
  
</p>
 <%= form_for @sticker, html: { multipart: true } do |f| %>

<%= f.label :quantity %>
:<%= f.select :quantity, Sticker::Quantity, prompt:'1' %>
  <% end %>
<%= link_to 'Back', stickers_path %>
 <%#= link_to "list of stickers",  listing_stickers_path, :remote => true %>