
<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
 <%#= link_to "New Order", new_order_path, class: "btn btn-primary" %>
 
<br />
<table class="table table-bordered table-striped">
<h1>ORDERS</h1>
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Zipcode</th>	
      <th>Vehicle_model</th>
      <th>Vehicle_no</th>
      <th>Vehicle_make</th>
       <th>Upload</th>
       <th>Caption part</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.email %></td>
        <td><%= order.phone %></td>
        <td><%= order.address%></td>
        <td><%= order.zip%></td>
         <td><%= order.vehicle_model%></td>
          <td><%= order.vehicle_no%></td>
           <td><%= order.vehicle_make%></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-paperclip"> </span>').html_safe, order.attachment_url %></td>
       <td><%= link_to ('<span class="glyphicon glyphicon-trash"> </span>').html_safe,  order, method: :delete, confirm: "Are you sure that you wish to delete #{order.name}?" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
 
<style>
   div.img-right{
     float: right;


   }
  </style>

 