<%= form_for @contact, html: { multipart: true } do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br/>
   <div class="form-group">
          <%= f.text_field :name, placeholder: "Name", class: "form-control input-lg", label: false, autofocus: true, :required =>true %>
        </div>

   <%= f.label :phone %><br/>
   <div class="form-group">
          <%= f.text_field :phone, placeholder: "Phone", class: "form-control input-lg", label: false, :required =>true %>
        </div>

   <%= f.label :email %><br/>
   <div class="form-group">
          <%= f.text_field :email, placeholder: "Email", class: "form-control input-lg", label: false, :required =>true %>
        </div>

   <%= f.label :message %><br/>
   <div class="form-group">
          <%= f.text_area :message, placeholder: "Message", class: "form-control input-lg", label: false, :required =>true %>
        </div>

  <%= f.submit "Create Contact",class: "btn btn-primary"%>
    <% end %>