<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email%>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> 

<td><%= button_to "Back" , welcome_index_path, :method => "get" %></td>

<%= link_to 'Back', root_path %>

