<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1><%#= button_to "Continue Shoping" , stores_path, :method => "get",class: "btn btn-info btn-lg" %></h1>

 <h3>Your Cart</h3>
  <%#= render "cart" %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Sticker</th>
        <th>Sticker Name</th>
        <th>Price</th> 
        <th>Quantity</th>
        <th>SubTotal</th>
         <th>Cancel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.lineitems.each  do |item|  %>
      <tr>
      <td><%= image_tag(item.sticker.images.first.image.url(:thumb)) %></td>
      <td><%= item.sticker.name %></td>
      <td class="item_price"><%= number_to_currency(item.unit_price) %></td>
      <%= form_for item, :url => lineitem_path(item), :method => :put, remote:true do |f| %>
      <td class="a-center movewishlist"><%= f.number_field :quantity, maxlength: "12", id: "cart-qty", class: "input-text qty", title: "Qty", size: '5', min: '1', max: '99', data: { item_id: item.id } %>
                      <%= f.submit 'save' %>
      </td>
      <% end %>                  
    <td ><%= number_to_currency(item.total_price) %></td>
    <td><%= link_to 'remove', cart_path(item) , method: :delete, data: { confirm: 'Are you sure?'} %></td>  
    </tr>
    <% end %>
  </td>
  </tbody>
</table>
 <td><%= button_to "Continue Shoping" ,stores_path, :method => "get",class: "btn btn-success" %></td><br>
 <table class="table table-bordered table-striped">
<tbody>
  <tr>
<div class="col-md-5 col-md-offset-4">
<div class="pull-right"><td><h1>Grand Total

:<%= number_to_currency(@cart.total_price) %></td></div>

 <div id="cart"></div>
  </tr></h1>
</tbody>

</div>
</td></div></div></tr></tbody></table>
</tr>

    </tbody>
    <div class="text-right">
    <td><%= button_to "Place Order",new_order_path, :method => "get" ,class: "btn btn-warning" %>
 </div>
 </td>
 </div>

 <style>
   div.text-right{
     float: right;
   }

  </style>