<!DOCTYPE html>
<html>
<head>
  <title>OnlineSticker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav id ="nav">
 </div> 

<div id= "page_nav" >
 

     </div>
                     
<div id= "sign_in" >

 <% if current_user and current_user.role == 'admin' %>
 
<%= link_to ('Sign out <span class="glyphicon glyphicon-off"></span>').html_safe, destroy_user_session_path, :method => :delete %>


<% else %>
<%#= link_to 'Sign in', new_user_session_path(current_user)  %>

<%#= button_to "Sign_up" ,  new_user_registration_path(:role => "bayer"), :method => "get" %>

<% end %>

</div>
</nav>

<div id= "main_wrap" >
 <div class="onlinesticker-container onlinesticker-border">


<h4><%= notice %></h4>
<p><%#= render 'stickers/search' %></p>

<div class="row">
  <div class="col-md-2"</div>
  <li>
    <h5>Dashboard Management</h5>
<h4><%= link_to "Sticker management" ,stickers_path %></h4>       

<h4><%= link_to "Banner management" ,banners_path %></h4> 
<h4><%= link_to "Contact Request" ,contacts_path %></h4>
<h4><%= link_to "Order management" ,orders_path %></h4>
</div>
</li>
  <div class="row">
  <div class="col-md-9"</div>
<%= yield %>
</div>
</div>

 <div id="sticker_all"></div>

<div id= "footer" >


 
</footer>

</body>
</html>
</div>

<style>
body {
    margin: 0;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

h5 {
    background-color: #4CAF50;
     padding: 10px 0 8px 16px;
    color: white;
}

li :hover:not(.active) {
    background-color: #555;
    color: white;
}

</style>