<!DOCTYPE html>
<html>
<head>
  <title>OnlineSticker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav id ="nav">
 </div> 

<div id= "page_nav" >
 

     </div>
                     
<div id= "sign_in" >
Member:<%=link_to current_user.role,  "#",class:"glyphicon glyphicon-user"%>
 <% if current_user and current_user.role == 'admin' %>
 
<%= link_to ('<span class="glyphicon glyphicon-off"></span>').html_safe, destroy_user_session_path, :method => :delete %>


<% else %>
<%#= link_to 'Sign in', new_user_session_path(current_user)  %>

<%#= button_to "Sign_up" ,  new_user_registration_path(:role => "bayer"), :method => "get" %>

<% end %>

</div>
</nav>

<div id= "main_wrap" >
 <div class="onlinesticker-container onlinesticker-border">


<h4><p class="notice"><%= notice %></p></h4>
<p><%#= render 'stickers/search' %></p>

<div class="row">
  <div class="col-md-2"</div>
  <li>
    <h5><%= link_to 'DashboardManagement',dashboards_index_path,class:"glyphicon glyphicon-blackboard" %></h5>
<h5><%= link_to "Stickermanagement" ,stickers_path,class:"glyphicon glyphicon-grain" %></h5>       

<h5><%= link_to "annermanagement" ,banners_path,class:"glyphicon glyphicon-bitcoin" %></h5> 
<h5><%= link_to "ContactRequest" ,contacts_path,class:"
glyphicon glyphicon-earphone" %></h5>
<h5><%= link_to "Ordermanagement" ,orders_path,class:"glyphicon glyphicon-folder-open" %></h5>
</div>
</li>
  <div class="row">
  <div class="col-md-9"</div>
<%= yield %>
</div>
</div>

 <div id="sticker_all"></div>

<div id= "footer" >


 
</footer>

</body>
</html>
</div>

<style>
body {
    margin: 0px;
       width: 100%;
           height: 100%;
}
li {
    list-style-type: none;
    margin: -30px;
    padding:5px ;
    width: -5%;
    background-color:lightgray;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

h5 {
    background-color: #4CAF50;
     padding: 10px 0 8px 16px;
    color: white;
}

li :hover:not(.active) {
    background-color: #555;
    color: white;
}

</style>