<!DOCTYPE html>
<html>
<head>
  <title>OnlineSticker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav id ="nav">

 </div> 

<div id= "page_nav" >
 
<p><%= render 'layouts/header' %></p>
     </div>
                     
<div id= "sign_in" >
<% if current_user.present? %>

<%#= link_to 'Account', edit_user_registration_path %>
<%#= link_to 'Profile Setting', edit_user_registration_path %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
 <% elsif current_user and current_user.role == 'admin' %>
 <%#= link_to "dashboard", dashboards_index_path %>
<% else %>
<%#= image_tag("cart2.png", alt: "File Name Fancy", size: "50*80")%><%= link_to ('Sign in <span class="glyphicon glyphicon-user"> </span>').html_safe, new_user_session_path(current_user)  %>
<%#= link_to "Sign up",  new_user_registration_path(:role => "buyer") %>

<%#= link_to ('Carts<span class="glyphicon glyphicon-shopping-cart"> </span>').html_safe, cart_path(current_cart) %>


<%#= link_to 'Profile Setting', edit_user_registration_path %>
<%#= button_to "Sign_up" ,  new_user_registration_path(:role => "bayer"), :method => "get" %>

<% end %>
</div><br>

</nav>

<div id= "main_wrap" >

 <p><%#= image_tag("rsz_1rsz_2images.jpg", alt: "File Name Fancy",:class=>"img-right", size: "20*20")%>
<%#= render 'stickers/search' %></p>

<p><%= render 'layouts/navbar' %></p>
__________________________________________________________________________________________________________________________________________________________

<%= yield %>
  <div id="sticker_all"></div>
  <div id="item_all"></div>
</body>
</html>
