<!DOCTYPE html>
<html>
<head>
  <title>OnlineSticker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

  <nav id ="nav">

 </div> 

<div id= "page_nav" >
<p><%= render 'layouts/header' %></p>
     </div>
             

<div id= "sign_in" >

<% if current_user.present? %>

 Member:<%=link_to current_user.role,"#",class:"glyphicon glyphicon-user" %>
<%= link_to ('<span class="glyphicon glyphicon-off"></span>').html_safe, destroy_user_session_path, :method => :delete %>

 <% elsif current_user and current_user.role == 'admin' %>

<% else %>
<%= form_tag stores_path, :id => 'dropdown', :method => :get do %>
 <%= select_tag :category, options_for_select([["Stickers",""]]+Category.all.map{|a| a.name}), :style => "border: 1px solid green;" ,class: "btn btn-primary" %>
<% end %>


<%= link_to ("Carts (#{
current_cart.lineitems.count})<span class='glyphicon glyphicon-shopping-cart'> </span>").html_safe,cart_path(current_cart) %>
<%= link_to ('<span class="glyphicon glyphicon-user"> </span> Sign in / Sign up ' ).html_safe, new_user_session_path(current_user)  %>
<%#= link_to ('<span class="glyphicon glyphicon-folder-open"> </span> ').html_safe,  new_user_registration_path(:role => "buyer") %>
<% end %>
</div>
  <%=  form_tag stores_path(), :method => 'get' do %>
    <%= text_field_tag :search, params[:search],class:"btn btn-default" %><%= submit_tag "Search",class:"btn btn-warning"  %>  
<% end %>
</nav>

<div id= "main_wrap" >



<p><%#= render 'layouts/navbar' %></p>

<%= yield %>



  <div id="sticker_all"></div>
  <div id="item_all"></div>
</body>
</html>
<style>
    #dropdown{
        left: -130px;
    margin-top: -45px;
    position: relative;
    top: 45px;
    width: 102px;
    }
</style>

<script>
  $('#category').change(function()
 {
     $('#dropdown').submit();
 });
</script>