<!DOCTYPE html>
<html>
<head>
  <title>OnlineSticker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

     <nav id ="nav">

<div id= "page_nav" >
     <%= link_to 'Home',   root_path %>
     <%= link_to 'About Us', root_path %>
    <%= link_to "Sticker",  listing_stickers_path, :remote => true %>
  <%= link_to 'contact',   contacts_path %>
     </div>
    
<div id= "sign_in" >
<% if user_signed_in? %>

<%#= link_to 'Account', edit_user_registration_path %>
<%= link_to 'sticker',   stickers_path %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>
</div>
</nav>
<div id= "main_wrap" >
  <p class="notice"><%= notice %></p>
<%= yield %>
 <div id="sticker_all"></div>
</body>
</html>
